.logo{
    max-height: 50px;
}

.bg-greyb1{
    background-color: #424242 !important;
}

.color-black, 
.sidebar-dark .nav-item .nav-link[data-toggle=collapse]::after,
.sidebar-dark #sidebarToggle::after{
    color: white !important;
}

.vert-clair{
    background-color: #51FC58;
}
.gris1{
    background-color: hsl(122 7% 85%);
}
.gris2{
    background-color: hsl(65, 7%, 75%);
}
.gris3{
    background-color: hsl(40, 9%, 61%);
}
.gris4{
    background-color: hsl(14, 7%, 35%);
}
.jaune{
    background-color: hsl(65, 97%, 65%);
}
.orange{
    background-color: hsl(40, 99%, 61%);
}
.rouge{
    background-color: hsl(14, 97%, 65%);
}

/* Tableau */

.tableau-rapport{
    overflow-x: scroll;
    width: auto;
}

.tableau-rapport th,
.tableau-rapport td{
    min-width: 150px;
    max-height: 200px;
    max-width: 500px;
    overflow-y: hidden;
    border: solid 1px;
    padding: 0.5em;

    overflow-wrap: break-word;
}

.tableau-rapport .col-solution{
    min-width: 450px;
}

@media all and (min-width: 700px){
    .max-width-50{
        max-width: 50%;
    }
}

/*icon radar scan*/

.scan-icon{
    max-width: 100%;
    padding: 7px;
}

.centre-content.col-lg-6 {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
